<div class="row">
  <div class="col-sm-3">
    <%= render partial: '/admin/admin_nav' %>
  </div>
  <div class="col-sm-9">
    <h2>Заказы</h2>
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td>Имя</td>
          <td>email</td>
          <td>Телефон</td>
          <td>Сумма</td>
          <td>Статус</td>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.name %></td>
            <td><%= link_to order.email, admin_order_path(order.id) %></td>
            <td><%= order.phone %></td>
            <td><%= order.fixed_total_price %></td>
            <td><%= render partial: 'orders_status', locals: {status: order.orders_status} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render partial: 'pager', locals: { collection: @orders } %>
  </div>
</div>
