<div class="row">
  <div class="col-md-8">
    <%= react_component 'NewOrder' %>
  </div>

  <div class="col-md-4 hidden-sm hidden-xs">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Ваш заказ <span class='pull-right'><%= @cart.total_count %> шт.</span></h4>
          <div>
            <% @cart.line_items.each do |line_item| %>
              <div class="row margin-top-20">
                <div class="col-sm-5">
                  <%= image_tag line_item.product.cover_url, size: '120x120' %>
                </div>
                <div class="col-sm-7">
                  <p>
                    <%= line_item.product.title %>
                  </p>
                  <p>
                    <%= line_item.count %> X <%= line_item.product.price %>
                  </p>
                </div>
              </div>
            <% end %>
            <%= link_to 'Редактировать заказ', my_cart_path, class: 'pull-right margin-top-20' %>
            <div class="clearfix"></div>
            <hr/>
            <h4>
              Сумма заказа: <b class='pull-right'><%= @cart.total_price %> руб.</b>
            </h4>
          </div>
      </div>
    </div>
  </div>
</div>
