<h2><%= @order.name %>, ваш заказ №<%= @order.id %> подтвержден. </h2>
<p>
  Статус заказа: <b><%= @order.orders_status.title %></b>
</p>
<p>
  Сумма доставки: <%= @order.delivery_price %> руб.
</p>
<p>
  Сумма вашего заказа: <b><%= @order.fixed_total_price %> руб.</b>
</p>
<ul>
  <% @order.line_items.each do |line_item| %>
    <li>
      <%= link_to line_item.product.title, product_url(line_item.product.id) %>
      <%= line_item.count %> x <%= line_item.fixed_price %> = <%= line_item.fixed_total_price %>
    </li>
  <% end %>
</ul>
