<div class="thumbnail product-thumb">
  <%= link_to product do %>
    <%= image_tag product.cover_url(:thumb) %>
  <% end %>
  <div class="caption">
    <span class="product-thumb__title">
      <%= product.title %>
    </span>
    <p><b><%= number_to_currency product.price, unit: '₽ ' %></b></p>
    <p>
     <%= react_component('AddToButton', props: { product_id: product.id }) %>
    </p>
  </div>
</div>
