<div class="thumbnail">
  <%= link_to product do %>
    <%= image_tag product.cover_url(:thumb) %>
  <% end %>
  <div class="caption">
    <p><%= product.title %></p>
    <p><b><%= number_to_currency product.price, unit: '₽ ' %></b></p>
    <p>
      <%= link_to 'посмотреть', product, class: 'btn btn-primary' %>
      <button class="btn btn-default">в корзину</button>
    </p>
  </div>
</div>
