<footer class="row">
  <hr>
  <ul class="list-inline text-center">
    <li><%= link_to 'О нас', '#' %></li>
    <li><%= link_to 'Сотрудничество', '#' %></li>
    <li><%= link_to 'Поделитесь своей историей', '#' %></li>
  </ul>
  <ul class="list-inline text-center social-links">
    <li>
      <%= link_to '#' do %>
        <%= image_tag('fb-art.jpg') %>
      <% end %>
    </li>

    <li>
      <%= link_to '#' do %>
        <%= image_tag('Instagram_logo.png') %>
      <% end %>
    </li>
    <li>
      <%= link_to '#' do %>
        <%= image_tag('vk_logo_small_blue.png') %>
      <% end %>
    </li>
  </ul>
  <h4 class='text-center'>Ананас</h4>
  <p class='text-center'>2016</p>
</footer>
