<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ananas Shop" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ananas Shop" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= redux_store 'cartStore', props: { totalPrice: @cart.total_price, totalCount: @cart.total_count } %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container main-container">
         <%= render 'layouts/messages' %>
         <%= render partial: 'ananas_nav' %>
         <div class="row hidden-sm hidden-xs">
           <div class="col-md-12">
             <%= image_tag('main_banner.png') %>
           </div>
         </div>
         <div class="margin-top-20">
           <%= yield %>
         </div>
         <%= render 'layouts/footer' %>
       </div>
    </main>
    <%= render 'left_menu' %>
  </body>
</html>
